#header {
    background: #333;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 5%;
    padding: 5%;
}

.navbar {
    color: white;
    text-align: center;
}

p, h3 {
    text-align: center;
}

.pictureFrame {
    /* border: 2px solid black; */
    margin-left: 25%;
    margin-right: 25%;
}
/* .box {
    background: white;
    width: 200px;
    height: 200px;
    position: relative;
    animation-name: myAnimation;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes myAnimation {
    0% {background-color: white; left: 0px; top: 0px; border-radius: 0 0 0 0;}
    25% {background-color: #FF2D02; left: 300px; top: 0px; border-radius: 50% 0 0 0;}
    50% {background-color: #10E80C; left: 300px; top: 300px; border-radius: 50% 50% 0 0;}
    75% {background-color: #00B2FF; left: 0px; top: 300px; border-radius: 50% 50% 50% 0;}
    100% {background-color: #333; left: 0px; top: 0px; border-radius: 50% 50% 50% 50%;}
} */
.image {
    width: 100%;
    padding: 15%;
}

#imgInput {
    width: 100%;
}

#uploadBtn {
    z-index: 0;
}